body {
    background: url('../images/login-background.jpg') no-repeat center center;
    background-size: cover;
    min-height : 100vh;
    font-family:'Times New Roman', Times, serif;
}

div.loginHeader{
    text-align:center;
}

div.loginHeader{
    margin-bottom: 60px;
}

div.loginHeader h1{
    font-size: 100px;
    color:white;
    padding:0px;
    margin:0px;
}

div.loginHeader p{
    color: white;
    font-size:50px;
    margin:0px;
    text-transform: uppercase;
    display: inline-block;
}

div.loginHeader p:after{
    content:'';
    display:block;
    height:5px;
    background: white;
    margin:0 auto;
}
div.loginBody form{
    margin:0 auto;
    width:450px;
    background :rgba(0, 0, 0, .3);
    padding:50px;
    border:2px solid #fff;
    border-radius:8px;
}

div.loginInputsContainer{
    margin: top 30px;
}
div.loginInputsContainer label{
    display:block;
    text-transform: uppercase;
    font-size:20px;
    font-weight:bold;
    color:#fff;
}

div.loginInputsContainer input{
    height: 30px;
    width:100%;
    border:2px solid white;
    font-size:20px;
    padding:5px;
    text-align:center;
    font-style:italic;
}

div.loginButtonContainer{
    margin-top:40px;
    text-align:center;
}

div.loginButtonContainer button{
    font-size:20px;
    padding:10px 40px;
    background: black;
    border:rgb(255, 0, 0);
    color:white;



}


